# Endpoint RPC de Solana
# Para desarrollo local con validator: http://localhost:8899
# Para Devnet: https://api.devnet.solana.com
NEXT_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com

# Program ID del contrato desplegado en Devnet
# Reemplaza este valor con el ID real tras ejecutar `anchor build` y `anchor deploy`
NEXT_PUBLIC_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
